<mat-nav-list>
    <div class="profile-card">
        <div class="header">
            <h2>{{ now | date:'HH:mm:ss'}}</h2>
        </div>
    </div>

    <mat-divider></mat-divider>

    <h2 matSubheader>Pages</h2>

    <a mat-list-item routerLinkActive="list-item-active" routerLink="/">
        <mat-icon>date_range</mat-icon> 
        Calendar
    </a>
    <mat-divider></mat-divider>

    <h2 matSubheader>Events</h2>

    <a mat-list-item >
        Preširnov dan
    </a>

    <mat-divider></mat-divider>

    <h2 matSubheader>Tools</h2>

    <a mat-list-item routerLinkActive="list-item-active" routerLink="/">
        <mat-icon>publish</mat-icon>
        Import Calendar file
    </a>

</mat-nav-list>