:host {
    .mat-icon {
      vertical-align: middle;
      padding-right: 20px;
    }
    .profile-card {
      text-align: center;
      padding: 0 20px 20px 20px;
    }
    .header{
      font-size: xx-large;
      font-weight:lighter;
    }
  }
  