<div fxLayout="column" fxLayoutAlign="end stretch" class="month" >
    
    <ul fxLayout="row" fxLayoutAlign="stretch" class="week">
        <li class="picker-month">
            <mat-form-field appearance="fill" >
                <mat-label>Month</mat-label>
                <mat-select [(value)]="current_month" class="picker-month" (selectionChange)="changeView()">
                  <mat-option *ngFor="let month of months ; index as i" [value]="month">
                    {{month}}
                  </mat-option>
                </mat-select>
              </mat-form-field>
        </li>
        <li class="picker-year">
            <mat-form-field class="example-full-width" appearance="fill">
                <mat-label>Year</mat-label>
                <input matInput type="number" placeholder="2021"  [(ngModel)]="current_year" (input)="changeView()">
              </mat-form-field>
        </li>
    </ul>
    <ul fxLayout="row" fxLayoutGap="2px" class="week">
        <li *ngFor="let day of days; index as i; last as isLast" [ngClass]="isLast? 'sunday' : 'label'">
            {{day}}
        </li>
    </ul>
    <ul  fxLayout="row" fxLayoutGap="2px" class="week" *ngFor="let week of weeks_in_month; index as i">
         <app-day *ngFor="let day of week; index as j; last as isLast" [ngClass]="isLast? 'sunday' : 'day'" [today]="day"></app-day>
    </ul>

</div>