:host{
    width: 100%;
    height: 100%;

    ul li{
        list-style: none;


    }
    .month{
        width: 100%;

        .week{
            padding: 0 !important;
            width: 100%;
            height: 100%;
            margin: 1px 0 1px 0 !important;

            .picker-month{
                width: 50%;
                height: 100%;
                background-color: #9eacfb !important;
                font-size: large;
                .mat-form-field{
                    width: 100%;
                }
                ::ng-deep .mat-form-field-wrapper{
                    margin-bottom: -1.25em;
                 }
            }
            .picker-year{
                width: 50%;
                height: 100%;
                background-color: #9eacfb !important;
                font-size: large;
                .mat-form-field{
                    width: 100%;
                }
                ::ng-deep .mat-form-field-wrapper{
                    margin-bottom: -1.25em;
                 }
            }

            .label{
                font-size:x-large;
                text-align: center;
                width: 100%;
                height: 10%;
                padding: 2% 0 2% 0;
                background-color: #d8f2f1;
            }

            .day{
                font-size:x-large;
                text-align: center;
                width: 100%;
                height: 10%;
                padding: 2% 0 2% 0;
                background-color: #e4fdfc;
            }
            
            .sunday{
                background-color: #c6e9e8 ;
                text-align: center;
                width: 100%;
                height: 10%;
                padding: 2% 0 2% 0;
                font-size:x-large;
                font-weight:bold;
            }


        }
    }
}
